body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:rgb(237, 219, 207);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: chocolate;
    color:black;
    padding-top: 30px;
    min-height: 70px;
    /* border-bottom: #77b5fe 3px solid; */
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}

.assessment {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-top: 20px;
}

.employee-info, .assessment-details {
    margin-bottom: 20px;
}

.employee-info h2, .assessment-details h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
